<!-- 


          <li class="<%= (typeof page != 'undefined' && page == 'home' ? 'active' : '') %>" ><a href="/">home</a></li>
          <li class="<%= (typeof page != 'undefined' && page == 'about' ? 'active' : '') %>" ><a href="/about">about</a></li>
          <li class="<%= (typeof page != 'undefined' && page == 'all-projects' ? 'active' : '') %>" ><a href="/all-projects">projects</a></li>
          
          <li class="<%= (typeof page != 'undefined' && page == 'resume' ? 'active' : '') %>" ><a href="/resume">resume</a></li>
          <li class="<%= (typeof page != 'undefined' && page == 'gallary' ? 'active' : '') %>" ><a href="/galary">gallary</a></li>
          <li class="<%= (typeof page != 'undefined' && page == 'contact' ? 'active' : '') %>" ><a href="/contact">contact</a></li>
  </div> -->
  <header>
    <div class="container-fluid">
        <nav class="navbar">
            <div class="navbar-brand">
               <img src="/img/logo.png" alt="">
        </div>
       
            <ul class="nav-list">
             
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-flavours">
                       flavours
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        contact
                    </a>
                </li>
                <div class="social">
                 
                   
                 <a href="/cart/checkout" class="qty-text">
                    <img src="/img/cart.png" alt="">
                    
                    <% if (typeof cart !== "undefined") { %> 
                    <%= cart.length %>
                    
                    <% } else {%>
                        <div class="qty">
                       0
                     </div>
                    <% } %>
                </a>
                  
                </div>
            </ul>
            
            <div class="menu-toggle">
                <div class="hamburger">
                </div>
            </div>
        </nav>
    </div>
</header>


