<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/styles.ejs') %>
    
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <%- include('includes/home-banner.ejs') %>
    <%- include('includes/service.ejs') %>
    
    <%- include('includes/cat_pizza.ejs') %>
    
    
    <%- include('includes/slider.ejs') %>
    <%- include('includes/footer.ejs') %>
    
    
    <%- include('includes/js.ejs') %>
</body>
</html>