<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/styles.ejs') %>
    
</head>
<body>
<%- include('includes/nav.ejs') %>
<%- include('includes/checkout-banner.ejs') %>


            <div class="section mb-3">
           <div class="container-fluid">

               <div class="row d-flex align-items-flex-start">
                <% if (typeof cart !== "undefined") { %>
                    <% var total = 0; %>
                    <% cart.forEach(function(pizza){ %>
                    <% var sub = parseFloat(pizza.qty * pizza.price).toFixed(2) %>
                    <% total += +sub %>
                   <div class="col-12 col-xs-12 ">
                      <div class="checkout-1">
                           <div class="checkout-image">
                               <img src="<%= pizza.image %>" alt="">
                               
                            </div>
                           <div class="checkout-image">
                               <h3>title</h3>
                               <p><%= pizza.title %></p>
                        </div>
                           <div class="checkout-image">
                               <h3>price</h3>
                               <p><%= pizza.price %></p>
                            </div>
                           <div class="checkout-image">
                               <h3>quantity</h3>
                                <p><%= pizza.qty %></p>
                        </div>
                       
                           <div class="checkout-btn">
                               <a href="/cart/update/<%= pizza.title %>?action=add" class="btn btn-primary btn-sm">+</a>
                               <a href="/cart/update/<%= pizza.title %>?action=remove" class="btn btn-success btn-sm">-</a>
                               <a href="/cart/update/<%= pizza.title %>?action=clear" class="btn btn-info btn-sm">remove</a>
                           </div>
                          
                           <div class="sub">
                            <h3>subtotal</h3>
                         <p><%= sub %> kr</p>
                     </div>
                      </div>
                   </div>
                   <% }); %>

                   <div class="col-12 col-xs-12">
                    <div class="checkout-2">
                       
                        <div class="total">
                            <h2>total</h2>
                            <span class="text-right"><%= parseFloat(total).toFixed(2) %> kr</span>
                        </div>
                        <hr>
                        <div class="clear">
                            <a id="clear" href="/cart/clear" class="btn-clear">clear cart</a>
                            <a id="buy" href="" class="btn-buy">buy now</a>
                        </div>
                    </div>
                 </div>
                 <% } else {%>
                    <h3 class="text-center">Your cart is empty. 🙂 </h3>
                    <% } %> 
               </div>
           </div>
        </div>
           

    
    <%- include('includes/footer.ejs') %>
    <%- include('includes/js.ejs') %>
</body>
</html>