<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('includes/styles.ejs') %>
  </head>
  <body>
    <%- include('includes/nav.ejs') %> <%-
    include('includes/checkout-banner.ejs') %>

    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="details-box">
            <img src="<%= pizza.image %>" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="details-box">
              <h1><%= pizza.title %></h1>
              <p><%= parseFloat(pizza.price).toFixed(2) %> kr</p>
              <a class="addToCart" href="/cart/add/<%= pizza.slug %>">add to cart</a>
            </div>
          </div>
      </div>
    </div>

    
    <%- include('includes/footer.ejs') %> 
    <%- include('includes/js.ejs') %>
  </body>
</html>
